:root {
    --primary-color: #d22929; /* 다이소의 빨간색 */
    --border-color: #e0e0e0;
    --background-color: #f9f9f9;
    --font-color: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.logo {
    background: url(https://cdn.daisomall.co.kr/apps/f/c7ed989e2/img/logo_daiso.9dda2d0.svg) no-repeat 50% / auto 100%;
    height: 36px;
    width: auto;
    margin-bottom: 30px;
}

.member-wrap {
    margin: auto;
    width: 408px;
}
.login input[type='text'] {
    width: 408px;
    height: 64px;
    border-radius: 4px;
    border: 1px solid lightslategray;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.member-pw input[type='password'] {
    display: flex;
    width: 408px;
    height: 64px;
    border-radius: 4px;
    border: 1px solid lightslategray;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.autologin {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}
.btn-area {
    display: block;
    overflow: hidden;
    align-items: center;
    width: 408px;
    height: 64px;
    margin: 40px auto;
    color: rgb(255, 255, 255);
    background: #d22929;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.find-area li {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.sne-easy .kakao .naver .aplle {
    background: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
